.wrapper{
    width: 320px;
    height: 568px;
    margin: 0 auto;
}

.header{
    width: 100%;
    display: flex;
    justify-content: center;
}

.title{
    color: #000000;
    font-size: 15px;
    font-weight: 800;
}

.container_acc{
    width: 100%;
}

.container_acc:hover{
    cursor: pointer;
}

.item{
    height: 20%;
}

.image{
    width: 320px;
    height: 200px;
    background: url('images/junior.jpg');
}

.text{
    color: red;
    font-weight: 800;
    font-size: 20px;
    float: right;
    padding-top: 10px;
    padding-right: 10px;
}

.image2{
    width: 320px;
    height: 200px;
    background: url('images/senior.jpg');
}
