html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

.wrapper{
    max-width: 100vw;
    margin: 0 auto;
}

.bayan_container{
    width: 80%;
    margin: 0 auto;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.title{
    color: black;
    font-size: 2rem;
    font-weight: 700;
}

.line{
    height: 0.05rem;
    color: red;
    width: 100%;
}

.accordion-container{
    width: 100%;
    display:flex;
    flex-direction: column;
    cursor: pointer;
    margin: 0 auto;
    align-items: center;
}

ul, li{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

#acc li{
    background: rgba(233, 255, 248, 0.219);
    border-radius: 0.2rem;
}

#acc li label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 800;
    color:brown;
}

#acc li label span{
    color: brown;
    font-weight: 400;
    margin-right: 5%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#acc label + input[type="radio"]{
    height: 0;
    width: 0;
}

.plus{
    height: 0;
    width: 0;
}

.image{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

#acc label + input[type="radio"]:checked + .image{
    max-height: 20%;
}